In [4]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.svm import SVR

/home/brechtl/miniconda3/envs/aiframeworks/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [5]:
# Load and show data
math_df = pd.read_csv('Math_Test_Results_Cleaned.csv')
math_df

,Grade,Year,Number Tested,Mean Scale Score,Num Level 1,Pct Level 1,Num Level 2,Pct Level 2,Num Level 3,Pct Level 3,Num Level 4,Pct Level 4,District Number,Borough Number,School Number
0,3,2006,39,667,2,5.1,11,28.2,20,51.3,6,15.4,1,0,15
1,3,2007,31,672,2,6.5,3,9.7,22,71.0,4,12.9,1,0,15
2,3,2008,37,668,0,0.0,6,16.2,29,78.4,2,5.4,1,0,15
3,3,2009,33,668,0,0.0,4,12.1,28,84.8,1,3.0,1,0,15
4,3,2010,26,677,6,23.1,12,46.2,6,23.1,2,7.7,1,0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25386,8,2008,36,567,34,94.4,2,5.6,0,0.0,0,0.0,75,1,723
25387,8,2009,31,597,18,58.1,13,41.9,0,0.0,0,0.0,75,1,723
25388,8,2010,38,598,32,84.2,6,15.8,0,0.0,0,0.0,75,1,723
25389,8,2011,32,595,24,75.0,7,21.9,1,3.1,0,0.0,75,1,723
25390,8,2012,17,632,8,47.1,9,52.9,0,0.0,0,0.0,75,1,723